* {
  max-width: 100%;
}
.header_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bolder;
  font-style: normal;
  max-width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav ul li {
 display: inline;
 justify-content: space-between;
}
.header {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.web_title {
  display: flex;
  justify-content: space-evenly;
}
.header_img img {
  max-width: 100%;
  height: auto;
}
.page_first_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  font-size: larger;
  image-rendering: auto;
  align-content: flex-start;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.footer {
  background-color: rgba(71, 216, 241, 0.897);
}
.main_footer_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bolder;
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sub_footer_text {
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
}
.blog-introduction {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  justify-content: space-around;
  align-content: space-around;
  align-content: center;
}
.main_text h1 h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 2rem;
}
/* style your form to be in the middle with a shadow, the above styling is not working */
.form {
  border-style: outset;
  border-color: rgb(2, 2, 48);
  border-width: thick;
  border-radius: 20px;
  padding-left: 50px;
  text-align: center;
  font-size: 2rem;
  max-width: 100%;
}
.dropdown {
  cursor: pointer;
}
.sub-nav {
  display: none;
  position: absolute;
  background-color: rgb(204, 248, 248);
  width: max-content;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.sub-nav a {
  color: black;
  padding: 11px 15px;
  text-decoration: none;
  display: block;
}
.sub-nav a:hover {
  background-color: aqua;
}
.dropdown:hover .sub-nav {
  display: block;
}
.dropdown:hover .main-nav {
  background-color: yellowgreen;
}
@media (max-width: 320px) {
  
}