<rewrite>
    <rules>
        <!-- Rule to hide .html extension -->
        <rule name="Hide .html extension">
            <match url="^(.*)" ignoreCase="true" />
            <conditions logicalGrouping="MatchAll">
                <!-- Check if the requested URL is not a file -->
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <!-- Check if the requested URL is not a directory -->
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                <!-- Check if adding .html to the end of the URL makes a valid file -->
                <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
            </conditions>
            <!-- Rewrite the URL by appending .html -->
            <action type="Rewrite" url="{R:0}.html" />
        </rule>

        <!-- Rule to redirect .html extension requests -->
        <rule name="Redirecting .html extension" stopProcessing="true">
            <match url="^(.*).html" />
            <conditions logicalGrouping="MatchAny">
                <!-- Check if the URL contains .html -->
                <add input="{URL}" pattern="(.*).html" />
            </conditions>
            <!-- Redirect to the URL without .html extension -->
            <action type="Redirect" url="{R:1}" />
        </rule>
    </rules>
</rewrite>
