<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Rewrite rule for About page -->
                <rule name="RewriteToAbout" stopProcessing="true">
                    <match url="^about-me$" ignoreCase="true" />
                    <action type="Rewrite" url="aboutme.html" />
                </rule>
                <!-- Rewrite rule for Projects page -->
                <rule name="RewriteToProjects" stopProcessing="true">
                    <match url="^projects$" ignoreCase="true" />
                    <action type="Rewrite" url="projects.html" />
                </rule>
                <!-- Rewrite rule for Home page -->
                <rule name="RewriteToProjects" stopProcessing="true">
                    <match url="^home$" ignoreCase="true" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                <!-- Rewrite rule for Sustainability page -->
                <rule name="RewriteToProjects" stopProcessing="true">
                    <match url="^sustainability-works$" ignoreCase="true" />
                    <action type="Rewrite" url="sustainability.html" />
                </rule>
                <!-- Rewrite rule for AI-Blog page -->
                <rule name="RewriteToProjects" stopProcessing="true">
                    <match url="^ai-blog$" ignoreCase="true" />
                    <action type="Rewrite" url="ai-blog.html" />
                </rule>
                <!-- Rewrite rule for Blog page -->
                <rule name="RewriteToProjects" stopProcessing="true">
                    <match url="^blog$" ignoreCase="true" />
                    <action type="Rewrite" url="blog.html" />
                </rule>
                <!-- Add more rules for other HTML pages as needed -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

